.DS_Store
.classpath
.gradle
.idea
.project
*.apk
*.ap_
*.class
*.dex
*.iml
*.ipr
*.iws
*.sw?
*~
bin
gen
out
tmp
local.properties
/*/local.properties
/*/out
/*/*/build
/*/*/production

!.idea/gradle.xml
